<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review API | API Reference</title>
    {% include 'header.html' %}
  </head>
  <body id="spectacle">
    <div id="page" class="drawer-layout drawer-slide-right-large">
      <div id="sidebar">
        <button class="close-button" aria-label="Close menu" type="button" data-drawer-close>
          <span aria-hidden="true">×</span>
        </button>
        <nav id="nav" role="navigation">
          <h5>Topics</h5>
          <a href="#introduction">Introduction</a>
          <a href="#authentication">Authentication</a>
          <h5>Operations</h5>
          <section>
            <a href="#tag-company">company</a>
            <ul>
              <li>
                <a href="#operation--company--get"> List all companies. </a>
              </li>
              <li>
                <a href="#operation--company--id---get"> Retrieves a company. </a>
              </li>
            </ul>
          </section>
          <section>
            <a href="#tag-review">review</a>
            <ul>
              <li>
                <a href="#operation--review--get"> Returns all reviews made by the logged user. </a>
              </li>
              <li>
                <a href="#operation--review--post"> Creates a review. </a>
              </li>
              <li>
                <a href="#operation--review--id---get"> Retrieves a review. </a>
              </li>
              <li>
                <a href="#operation--review--id---put"> Update an entire review. </a>
              </li>
              <li>
                <a href="#operation--review--id---patch"> Update parts of a review. </a>
              </li>
              <li>
                <a href="#operation--review--id---delete"> Delete a review. </a>
              </li>
            </ul>
          </section>
          <h5>Schema Definitions</h5>
          <a href="#definition-Company"> Company </a>
          <a href="#definition-Review"> Review </a>
          <a href="#definition-ReviewAdd"> ReviewAdd </a>
        </nav>
      </div>
      <div id="docs" class="row collapse expanded drawer" data-drawer>
        <button class="floating-menu-icon" type="button" data-drawer-slide="right">
          <span class="hamburger"></span>
        </button>
        <div class="example-box doc-content"></div>
        <article>
          <h1 class="doc-title">Review API
            <span>API Reference</span>
          </h1>
          <div id="introduction" data-traverse-target="introduction">
            <div class="doc-row">
              <div class="doc-copy">
                <p>This is a review system API, written in Django, that constantly receives api calls to store company reviews made by its users.</p>
                <p>All the api calls are protected with token authentication. It can be sent as a Bearer Token in the request header.</p>
                <p>The review endpoints allows access only to the logged user&#39;s reviews. These endpoint can also be nested to the <code>company</code> andpoint to filter out only reviews given by the user to a specific company.</p>
                <ul>
                  <li><code>/review/</code> Will return user&#39;s reviews</li>
                  <li><code>/company/ID/review/</code> Will return user&#39;s reviews to this company</li>
                </ul>
              </div>
              <div class="doc-examples">
                <section>
                  <h5>API Endpoint</h5>
                  <!-- <div class="hljs"> --><pre><code>https://reviewer-api.herokuapp.com/api/v1</code></pre>
                  <!-- </div> -->
                  <h5>Schemes:
                    <span>https</span>
                  </h5>
                  <h5>Version:
                    <span>1.0.0</span>
                  </h5>
                </section>
              </div>
            </div>
          </div>
          <!-- <h1 id="security" data-traverse-target="security">Security</h1> -->
          <h1 id="authentication" data-traverse-target="authentication">Authentication</h1>
          <div id="security-definition-APIKeyHeader" class="panel">
            <div class="doc-row">
              <div class="doc-copy">
                <h3 class="security-definition-title">
                  <span class="security-name">APIKeyHeader</span>
                  <span class="swagger-security-definition-apiKey"></span>
                </h3>
                <section class="swagger-security-definition-properties">
                  <div class="prop-row security-definition-property">
                    <div class="prop-name">
                      <div class="prop-title security-definition-property-name">type</div>
                    </div>
                    <div class="prop-value security-definition-property-type"> apiKey </div>
                  </div>
                  <div class="prop-row security-definition-property">
                    <div class="prop-name">
                      <div class="prop-title security-definition-property-name">in</div>
                    </div>
                    <div class="prop-value security-definition-property-type"> header </div>
                  </div>
                  <div class="prop-row security-definition-property">
                    <div class="prop-name">
                      <div class="prop-title security-definition-property-name">name</div>
                    </div>
                    <div class="prop-value security-definition-property-type"> Authorization </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <h1 id="tag-company" class="swagger-summary-tag" data-traverse-target="tag-company">company</h1>
          <div id="operation--company--get" class="operation panel" data-traverse-target="operation--company--get">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-company">company</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">List all companies.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">GET</span>
                  <span class="operation-path">/company/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind returns all registered companies.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy"> </div>
              <div class="doc-examples"></div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">200 OK</div>
                      <div class="prop-ref">
                        <span class="json-schema-ref-array">
                          <a class="json-schema-ref" href="#/definitions/Company">Company</a>
                        </span>
                      </div>
                      <!-- <span class="swagger-global"></span> <span class="json-schema-reference"><a href=""></a></span> -->
                    </div>
                    <div class="prop-value">
                      <p>List with all stored companies</p>
                    </div>
                  </div>
                  <div class="prop-row prop-inner">
                    <div class="prop-name">type</div>
                    <div class="prop-value">
                      <span class="json-property-type">
                        <span class="json-schema-ref-array">
                          <a class="json-schema-ref" href="#/definitions/Company">Company</a>
                        </span>
                      </span>
                      <span class="json-property-range" title="Value limits"></span>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
                <section>
                  <h5>Response Example
                    <span>(200 OK)</span>
                  </h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">[
  {
    <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
    <span class="hljs-attr">&quot;name&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>
  }
]
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="operation--company--id---get" class="operation panel" data-traverse-target="operation--company--id---get">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-company">company</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">Retrieves a company.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">GET</span>
                  <span class="operation-path">/company/{id}/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind retrieves a company given its ID.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-request-params">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">id</div>
                      <span class="json-property-required"></span>
                      <div class="prop-subtitle"> in path </div>
                      <div class="prop-subtitle">
                        <span class="json-property-type">integer</span>
                        <span class="json-property-format">(int32)</span>
                        <span class="json-property-range" title="Value limits"></span>
                      </div>
                    </div>
                    <div class="prop-value">
                      <p>Numeric ID of the price policy</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples"></div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">200 OK</div>
                      <div class="prop-ref">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/Company">Company</a>
                        </span>
                      </div>
                      <!-- <span class="swagger-global"></span> <span class="json-schema-reference"><a href=""></a></span> -->
                    </div>
                    <div class="prop-value">
                      <p>Company found</p>
                    </div>
                  </div>
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">404 Not Found</div>
                    </div>
                    <div class="prop-value">
                      <p>Company not found</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
                <section>
                  <h5>Response Example
                    <span>(200 OK)</span>
                  </h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;name&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <h1 id="tag-review" class="swagger-summary-tag" data-traverse-target="tag-review">review</h1>
          <div id="operation--review--get" class="operation panel" data-traverse-target="operation--review--get">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-review">review</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">Returns all reviews made by the logged user.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">GET</span>
                  <span class="operation-path">/review/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind returns all stored reviews by the logged user.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy"> </div>
              <div class="doc-examples"></div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">200 OK</div>
                      <div class="prop-ref">
                        <span class="json-schema-ref-array">
                          <a class="json-schema-ref" href="#/definitions/Review">Review</a>
                        </span>
                      </div>
                      <!-- <span class="swagger-global"></span> <span class="json-schema-reference"><a href=""></a></span> -->
                    </div>
                    <div class="prop-value">
                      <p>List with all the user&#39;s reviews</p>
                    </div>
                  </div>
                  <div class="prop-row prop-inner">
                    <div class="prop-name">type</div>
                    <div class="prop-value">
                      <span class="json-property-type">
                        <span class="json-schema-ref-array">
                          <a class="json-schema-ref" href="#/definitions/Review">Review</a>
                        </span>
                      </span>
                      <span class="json-property-range" title="Value limits"></span>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
                <section>
                  <h5>Response Example
                    <span>(200 OK)</span>
                  </h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">[
  {
    <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
    <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
    <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
    <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
    <span class="hljs-attr">&quot;ip_address&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
    <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
    <span class="hljs-attr">&quot;reviewer&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
  }
]
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="operation--review--post" class="operation panel" data-traverse-target="operation--review--post">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-review">review</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">Creates a review.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">POST</span>
                  <span class="operation-path">/review/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind creates a review for a given company.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-request-body">
                  <div class="prop-row">
                    <div class="prop-name">
                      <div class="swagger-request-model">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/ReviewAdd">ReviewAdd</a>
                        </span>
                      </div>
                    </div>
                    <div class="prop-value columns small-6">
                      <!-- <div class="swagger-request-description"> -->
                      <p>The review info.</p>
                      <!-- </div> -->
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <section>
                  <h5>Request Content-Types:
                    <span>application/json</span>
                  </h5>
                  <h5>Request Example</h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">201 Created</div>
                      <div class="prop-ref">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/Review">Review</a>
                        </span>
                      </div>
                      <!-- <span class="swagger-global"></span> <span class="json-schema-reference"><a href=""></a></span> -->
                    </div>
                    <div class="prop-value">
                      <p>Succesfully created</p>
                    </div>
                  </div>
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">400 Bad Request</div>
                    </div>
                    <div class="prop-value">
                      <p>The fields <code>title</code>, <code>summary</code>, <code>rating</code> and <code>company</code> are required.</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
                <section>
                  <h5>Response Example
                    <span>(201 Created)</span>
                  </h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;ip_address&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;reviewer&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="operation--review--id---get" class="operation panel" data-traverse-target="operation--review--id---get">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-review">review</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">Retrieves a review.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">GET</span>
                  <span class="operation-path">/review/{id}/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind retrieves a review given its ID.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-request-params">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">id</div>
                      <span class="json-property-required"></span>
                      <div class="prop-subtitle"> in path </div>
                      <div class="prop-subtitle">
                        <span class="json-property-type">integer</span>
                        <span class="json-property-format">(int32)</span>
                        <span class="json-property-range" title="Value limits"></span>
                      </div>
                    </div>
                    <div class="prop-value">
                      <p>Numeric ID of the review</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples"></div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">200 OK</div>
                      <div class="prop-ref">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/Review">Review</a>
                        </span>
                      </div>
                      <!-- <span class="swagger-global"></span> <span class="json-schema-reference"><a href=""></a></span> -->
                    </div>
                    <div class="prop-value">
                      <p>review found</p>
                    </div>
                  </div>
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">404 Not Found</div>
                    </div>
                    <div class="prop-value">
                      <p>review not found</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
                <section>
                  <h5>Response Example
                    <span>(200 OK)</span>
                  </h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;ip_address&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;reviewer&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="operation--review--id---put" class="operation panel" data-traverse-target="operation--review--id---put">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-review">review</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">Update an entire review.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">PUT</span>
                  <span class="operation-path">/review/{id}/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind updates an entire review given its ID.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-request-body">
                  <div class="prop-row">
                    <div class="prop-name">
                      <div class="swagger-request-model">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/ReviewAdd">ReviewAdd</a>
                        </span>
                      </div>
                    </div>
                    <div class="prop-value columns small-6">
                      <!-- <div class="swagger-request-description"> -->
                      <p>The review&#39;s information.</p>
                      <!-- </div> -->
                    </div>
                  </div>
                </section>
                <section class="swagger-request-params">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">id</div>
                      <span class="json-property-required"></span>
                      <div class="prop-subtitle"> in path </div>
                      <div class="prop-subtitle">
                        <span class="json-property-type">integer</span>
                        <span class="json-property-format">(int32)</span>
                        <span class="json-property-range" title="Value limits"></span>
                      </div>
                    </div>
                    <div class="prop-value">
                      <p>Numeric ID of the review</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <section>
                  <h5>Request Content-Types:
                    <span>application/json</span>
                  </h5>
                  <h5>Request Example</h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">200 OK</div>
                      <div class="prop-ref">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/Review">Review</a>
                        </span>
                      </div>
                      <!-- <span class="swagger-global"></span> <span class="json-schema-reference"><a href=""></a></span> -->
                    </div>
                    <div class="prop-value">
                      <p>review updated</p>
                    </div>
                  </div>
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">400 Bad Request</div>
                    </div>
                    <div class="prop-value">
                      <p>The fields <code>title</code>, <code>summary</code>, <code>rating</code> and <code>company</code> are required.</p>
                    </div>
                  </div>
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">404 Not Found</div>
                    </div>
                    <div class="prop-value">
                      <p>review not found</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
                <section>
                  <h5>Response Example
                    <span>(200 OK)</span>
                  </h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;ip_address&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;reviewer&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="operation--review--id---patch" class="operation panel" data-traverse-target="operation--review--id---patch">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-review">review</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">Update parts of a review.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">PATCH</span>
                  <span class="operation-path">/review/{id}/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind updates parts of a review given its ID.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-request-body">
                  <div class="prop-row">
                    <div class="prop-name">
                      <div class="swagger-request-model">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/ReviewAdd">ReviewAdd</a>
                        </span>
                      </div>
                    </div>
                    <div class="prop-value columns small-6">
                      <!-- <div class="swagger-request-description"> -->
                      <p>The review&#39;s information.</p>
                      <!-- </div> -->
                    </div>
                  </div>
                </section>
                <section class="swagger-request-params">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">id</div>
                      <span class="json-property-required"></span>
                      <div class="prop-subtitle"> in path </div>
                      <div class="prop-subtitle">
                        <span class="json-property-type">integer</span>
                        <span class="json-property-format">(int32)</span>
                        <span class="json-property-range" title="Value limits"></span>
                      </div>
                    </div>
                    <div class="prop-value">
                      <p>Numeric ID of the review</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <section>
                  <h5>Request Content-Types:
                    <span>application/json</span>
                  </h5>
                  <h5>Request Example</h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">200 OK</div>
                      <div class="prop-ref">
                        <span class="">
                          <a class="json-schema-ref" href="#/definitions/Review">Review</a>
                        </span>
                      </div>
                      <!-- <span class="swagger-global"></span> <span class="json-schema-reference"><a href=""></a></span> -->
                    </div>
                    <div class="prop-value">
                      <p>review updated</p>
                    </div>
                  </div>
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">404 Not Found</div>
                    </div>
                    <div class="prop-value">
                      <p>review not found</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
                <section>
                  <h5>Response Example
                    <span>(200 OK)</span>
                  </h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;ip_address&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;reviewer&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="operation--review--id---delete" class="operation panel" data-traverse-target="operation--review--id---delete">
            <!-- <section class="operation-tags row"> -->
            <!-- <div class="doc-copy"> -->
            <div class="operation-tags">
              <a class="label" href="#tag-review">review</a>
              <!---->
            </div>
            <!-- </div> -->
            <!-- </section> -->
            <h2 class="operation-title">
              <span class="operation-summary">Delete a review.</span>
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-path">
                  <span class="operation-method">DELETE</span>
                  <span class="operation-path">/review/{id}/</span>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-operation-description">
                  <p>This endpoind deletes a review given its ID.</p>
                </section>
              </div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-request-params">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">id</div>
                      <span class="json-property-required"></span>
                      <div class="prop-subtitle"> in path </div>
                      <div class="prop-subtitle">
                        <span class="json-property-type">integer</span>
                        <span class="json-property-format">(int32)</span>
                        <span class="json-property-range" title="Value limits"></span>
                      </div>
                    </div>
                    <div class="prop-value">
                      <p>Numeric ID of the review</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples"></div>
            </div>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="swagger-responses">
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">204 No Content</div>
                    </div>
                    <div class="prop-value">
                      <p>review deleted</p>
                    </div>
                  </div>
                  <div class="prop-row prop-group">
                    <div class="prop-name">
                      <div class="prop-title">404 Not Found</div>
                    </div>
                    <div class="prop-value">
                      <p>review not found</p>
                    </div>
                  </div>
                </section>
              </div>
              <div class="doc-examples">
                <h5>Response Content-Types:
                  <span>application/json</span>
                </h5>
              </div>
            </div>
          </div>
          <h1>Schema Definitions</h1>
          <div id="definition-Company" class="definition panel" data-traverse-target="definition-Company">
            <h2 class="panel-title">
              <a name="/definitions/Company"></a>Company:
              <!-- <span class="json-property-type"><span class="json-property-type">object</span>
              <span class="json-property-range" title="Value limits"></span>
              
              
              </span> -->
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="json-schema-properties">
                  <dl>
                    <dt data-property-name="id">
                      <span class="json-property-name">id:</span>
                      <span class="json-property-type">integer</span>
                      <span class="json-property-format">(int64)</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="name">
                      <span class="json-property-name">name:</span>
                      <span class="json-property-type">string</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                  </dl>
                </section>
              </div>
              <div class="doc-examples">
                <section>
                  <h5>Example</h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;name&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="definition-Review" class="definition panel" data-traverse-target="definition-Review">
            <h2 class="panel-title">
              <a name="/definitions/Review"></a>Review:
              <!-- <span class="json-property-type"><span class="json-property-type">object</span>
              <span class="json-property-range" title="Value limits"></span>
              
              
              </span> -->
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="json-schema-properties">
                  <dl>
                    <dt data-property-name="id">
                      <span class="json-property-name">id:</span>
                      <span class="json-property-type">integer</span>
                      <span class="json-property-format">(int64)</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="title">
                      <span class="json-property-name">title:</span>
                      <span class="json-property-type">string</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="rating">
                      <span class="json-property-name">rating:</span>
                      <span class="json-property-type">integer</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="summary">
                      <span class="json-property-name">summary:</span>
                      <span class="json-property-type">string</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="ip_address">
                      <span class="json-property-name">ip_address:</span>
                      <span class="json-property-type">string</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="company">
                      <span class="json-property-name">company:</span>
                      <span class="json-property-type">integer</span>
                      <span class="json-property-format">(int64)</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="reviewer">
                      <span class="json-property-name">reviewer:</span>
                      <span class="json-property-type">integer</span>
                      <span class="json-property-format">(int64)</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                  </dl>
                </section>
              </div>
              <div class="doc-examples">
                <section>
                  <h5>Example</h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;id&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;ip_address&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>,
  <span class="hljs-attr">&quot;reviewer&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div id="definition-ReviewAdd" class="definition panel" data-traverse-target="definition-ReviewAdd">
            <h2 class="panel-title">
              <a name="/definitions/ReviewAdd"></a>ReviewAdd:
              <!-- <span class="json-property-type"><span class="json-property-type">object</span>
              <span class="json-property-range" title="Value limits"></span>
              
              
              </span> -->
            </h2>
            <div class="doc-row">
              <div class="doc-copy">
                <section class="json-schema-properties">
                  <dl>
                    <dt data-property-name="title">
                      <span class="json-property-name">title:</span>
                      <span class="json-property-type">string</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="rating">
                      <span class="json-property-name">rating:</span>
                      <span class="json-property-type">integer</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="summary">
                      <span class="json-property-name">summary:</span>
                      <span class="json-property-type">string</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                    <dt data-property-name="company">
                      <span class="json-property-name">company:</span>
                      <span class="json-property-type">integer</span>
                      <span class="json-property-format">(int64)</span>
                      <span class="json-property-range" title="Value limits"></span>
                    </dt>
                  </dl>
                </section>
              </div>
              <div class="doc-examples">
                <section>
                  <h5>Example</h5>
                  <!-- <div class="hljs"> --><pre><code class="hljs lang-json">{
  <span class="hljs-attr">&quot;title&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;rating&quot;</span>: <span class="hljs-string">&quot;integer&quot;</span>,
  <span class="hljs-attr">&quot;summary&quot;</span>: <span class="hljs-string">&quot;string&quot;</span>,
  <span class="hljs-attr">&quot;company&quot;</span>: <span class="hljs-string">&quot;integer (int64)&quot;</span>
}
</code></pre>
                  <!-- </div> -->
                </section>
              </div>
            </div>
          </div>
          <div class="doc-row no-margin">
            <div class="doc-copy doc-separator">
              <a class="powered-by" href="https://sourcey.com/spectacle">Documentation by
                <span>Spectacle</span>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>